@model WebApplication1.Models.MusicModel
@{
    ViewBag.Title = "Contact";
   
}

<h1> Музыка </h1>


<audio controls>
    <source src="audio/music.ogg" type="audio/ogg; codecs=vorbis">
    <source src="~/Content/music/Черепашки-ниндзя – Мы не жалкие букашки.. ржач полный.mp3" type="audio/mpeg">
    Тег audio не поддерживается вашим браузером.
    <a href="~/Content/music/muz.mp3">Скачайте музыку</a>.
</audio>

